{% extends "../portal/layout.html" %}

{% block body %}

{% load static %}
<script src="{% static 'address/address.js' %}"></script>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Address Management</li>
  </ol>
</nav>

<div class="container apps">
  <!-- Three columns of text below the carousel -->
  <h1>Address Management <i class="far fa-plus-square js-address-create-form" data-url="{% url 'address:address-create' %}"></i></h1>
  {% include 'address/partial/addresses.html' %}

  <!-- THE MODAL WE WILL BE USING -->
  <div class="modal fade" id="modal-address">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-body" id="js-partial-address-form">
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}