{% load static %}
<script src="{% static 'blogs/tinymce.min.js' %}"></script>
<script src="{% static 'blogs/tagsinput.js' %}"></script>


<script>
    tinymce.init({selector:'textarea', plugins: `textcolor save link image media preview codesample contextmenu 
            table code lists fullscreen  insertdatetime  nonbreaking
            contextmenu directionality searchreplace wordcount visualblocks
            visualchars code fullscreen autolink lists  charmap print  hr
            anchor pagebreak`
        });
</script>

{% load crispy_forms_tags %}

<div class="container apps">
    <form method="post">
        {% csrf_token %}
        
        {{ form.topic|as_crispy_field }}
        {{ form.intro|as_crispy_field }}
        {{ form.content|as_crispy_field }}
        
        {{ form.tags }}

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{{ view.get_success_url }}" class="btn btn-primary">Cancel</a>
    </form> 
</div>

{% block css %}
  <link href="{% static 'taggit_selectize/css/selectize.django.css' %}" type="text/css" media="all" rel="stylesheet"/>
{% endblock %}

{% block javascript %}
    <script src="{% static 'taggit_selectize/js/selectize.js' %}"></script>
{% endblock %}