<div class="row">
    {% for seminar in seminars %} 
    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          {{seminar.topic}}
        </div>
        <div class="card-body">
          <p class="card-text">Start: {{seminar.start_date_time}}</p>
          <p class="card-text">End: {{seminar.end_date_time}}</p>
          <p class="card-text">Availabe Seat: {{seminar.no_of_available_seat}}</p>
          <p class="card-text">Venue: {{seminar.venue}}</p>
          {% if seminar.isBooked %}
          <a href="{% url 'seminars:booking-result' seminar.booking_id %}" class="card-link">Booked: Get Ticket</a>
          {% else %}
          <a href="{% url 'seminars:booking-create' seminar.id %}" class="card-link">Booking</a>
          {% endif %}            
        </div>
      </div>
    </div><!-- /.col-lg-4 -->    
    {% endfor %}
</div><!-- /.row -->

