{% extends "../portal/layout.html" %}

{% block body %}

{% load static %}
<script src="{% static 'seminars/index.js' %}"></script>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Seminar Management</li>
  </ol>
</nav>

<div class="container apps">
  <!-- Three columns of text below the carousel -->
  <h1>Seminar Management <i class="far fa-plus-square js-seminar-create-form" data-url="{% url 'seminars:seminar-create' %}"></i></h1>
  {% include 'seminars/seminar/partial/seminars.html' %}
  
  <div class="container apps">
    <!-- THE MODAL WE WILL BE USING -->
    <div class="modal fade" id="modal-seminar">
      <div class="modal-dialog" >
        <div class="modal-content">
          <div class="modal-body" id="js-partial-seminar-form">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}