<form method="post" class="js-room-update" action="{% url 'seminars:room-update' form.instance.pk %}" crud='Update'>
    {% csrf_token %}
    <div class="mb-3">
        <label for="no" class="form-label">Number</label>
        <input type="text" class="form-control" name="no" id="no" placeholder="Room Number" required value='{{ form.instance.no }}'>
        {% for error in form.no.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="desc" class="form-label">Description</label>
        <input type="text" class="form-control" name="desc" id="desc" placeholder="Description" required value='{{ form.instance.desc }}'>
        {% for error in form.desc.errors %}
        <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>

    {% if form.non_field_errors %}
    {% for err in form.non_field_errors %}
      <p class="help-block">{{ err }}</p>
    {% endfor%}
    {% endif %}
    
    <button type="submit" class="btn btn-primary">Update room</button>    
</form>  


  