<form method="post" action="{% url 'branches:branches-delete' branch.id %}" class="js-branch-delete" crud='Delete'>
    {% csrf_token %}
    <div class="modal-header">
      <h4 class="modal-title">Confirm branch deletion</h4>
    </div>
    <div class="modal-body">
      <p class="lead">Are you sure you want to delete the branch <strong><u>{{ branch.name }}</u></strong>?</p>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-danger">Delete Branch</button>
    </div>
  </form>