{% extends "portal/layout.html" %}

{% block body %}

{% load static %}
<script src="{% static 'account/index.js' %}"></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Profile</li>
    </ol>
  </nav>

<div class="container marketing">
    {% include 'account/partial_profile.html' %}
    <hr>
    {% include 'account/partial_device.html' %}
</div>

{% endblock %}