{% extends "portal/layout.html" %}

{% block body %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Token Verification</li>
    </ol>
  </nav>

<div class="container marketing">
    <div class="d-flex align-items-center flex-column">
        <div>
            <h2>Token Verification</h2>
            {% if svg is not None %}
            <p>Please download Google Authenticator and scan the qr code:</p>
            <div>
                {{ svg|safe }}
            </div>
            {% endif %}
            
            <p>Please input the 6-digit token value in below before accessing 
                {% if 'title' in request.GET %}<strong>{{ request.GET.title }}</strong>{% endif %}:
            </p>

            <form method="post" action="{% url 'account:token' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" minlength="6" maxlength="6" class="form-control" name="token" id="token" placeholder="Six Digit Token Value" >
                    {% for error in form.token.errors %}
                    <p class="help-block">{{ error }}</p>
                    {% endfor %}
                    <p class="help-block">{{ err }}</p>
                </div>

                <input type="text" 
                    hidden name="next" 
                    value="{% if 'next' in request.GET %}{{ request.GET.next }}{% else %}{{ next }}{% endif %}">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}